/* Variables */

:root {
    --bg-color: rgb(44, 24, 114);
    --primary-color: rgb(235, 23, 235);
    --hover-color: rgb(127, 255, 206);

    --circle-color-01: rgba(23, 193, 235, 0.8);
    --circle-color-02: rgba(23, 235, 76, 0.8);
    --circle-color-03: rgba(255, 70, 193, 0.8);
    --circle-color-04: rgba(221, 235, 23, 0.8);
    --circle-color-05: rgba(255, 137, 101, 0.8);
}

/* App Layout */

.app {
    background-color: var(--bg-color);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.app-body {
    flex-grow: 1;
    padding: 50px;
}

/* Test box Style */

.test-box {
    outline: 10px solid var(--primary-color);
    border-radius: 10px;
    position: relative;
    height: 100%;
}

/* Circle Style */

.test-circle {
    border: solid;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    overflow: hidden;
}

.color-01 {
    color: var(--circle-color-01);
}

.color-02 {
    color: var(--circle-color-02);
}

.color-03 {
    color: var(--circle-color-03);
}

.color-04 {
    color: var(--circle-color-04);
}

.color-05 {
    color: var(--circle-color-05);
}


/* Obstacle Style */

.obstacle {
    background-color: var(--primary-color);
    position: absolute;
    border-radius: 5%;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
}

/* App Toolbar */

.app-toolbar {
    flex-shrink: 0;
    text-align: center;
    color: var(--primary-color);
    user-select: none;
    padding-bottom: 30px;
}

.toolbar-controls {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-weight: bold;
    font-size: 40px;
}

.toolbar-controls * :not(.circle-value) {
    cursor: pointer;
    transition: 200ms all;
}

.toolbar-controls * :not(.circle-value):hover {
    color: var(--hover-color);
}

/* DEBUG */

.debug .app-body {
    border: 3px solid rgb(255, 127, 127);

}

.debug .app-toolbar {
    border: 3px solid rgb(115, 228, 115);

}

.debug .app-toolbar > * {
    border: 3px solid rgb(158, 255, 158);
}