.app {
    background-color: rgb(44, 24, 114);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.app-body {
    flex-grow: 1;
    padding: 50px;
}

.test-box {
    outline: 10px solid rgb(235, 23, 235);
    border-radius: 10px;
    position: relative;
    height: 100%;
}

.test-circle {
    border: solid;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    overflow: hidden;

}

.color-01 {
    color: rgba(23, 193, 235, 0.8);
}

.color-02 {
    color: rgba(23, 235, 76, 0.8);
}

.color-03 {
    color: rgba(235, 23, 94, 0.8);
}

.color-04 {
    color: rgba(221, 235, 23, 0.8);
}

.color-05 {
    color: rgba(248, 169, 23, 0.8);
}

.app-toolbar {
    flex-shrink: 0;
    text-align: center;
    color: rgb(235, 23, 235);
    margin-bottom: 20px;
    user-select: none;
}

.circle-counter {
    margin: 0 50px;
    color: inherit;
    border-color: inherit;
    font-weight: bold;
    font-size: 50px;
    cursor: pointer;
    transition: 200ms all;
    display: inline-block;
    margin-top: -10px;
}

.circle-counter:hover {
    opacity: 0.5;
}

/* DEBUG */

.debug .app-body {
    border: 3px solid red;

}

.debug .app-toolbar {
    border: 3px solid green;

}